/*wrapper & Layouts*/
/*Specific Grid Names*/
.chat_list {
    grid-area: chat_list;
}

.conversation {
    grid-area: conversation;
}

#wrapper {
    max-width: 110em;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 6fr 3fr;
    grid-template-areas:
        "banner banner"
        "nav nav"
        "main main"
        "chat_list conversation"
    ;
}

/*sent message*/
.sent{
text-align: right;
}

/*recived message*/
.received{
text-align: left;
}
/*Temp CSS*/
.chat_list {
    border: 5px;
    border-style: solid;
}

.conversation {
    border: 5px;
    border-style: solid;
}