/*wrapper & Layouts*/
/*Specific Grid Names*/
.chat_list {
    grid-area: chat_list;
}

.conversation {
    grid-area: conversation;
}

.new_chat {
    grid-area: new_chat;
}

#wrapper {
    max-width: 110em;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 6fr;
    grid-template-areas:
        "banner banner"
        "nav nav"
        "main main"
        "new_chat new_chat"
        "chat_list conversation"
    ;
}

/*Temp CSS*/
.chat_list {
    border: 5px;
    border-style: solid;
}

.conversation {
    border: 5px;
    border-style: solid;
}

#chat_list button {
    color: black;
}

#chat .message_box{
    max-width: 45%;
    border-color: darkgray;
    border-width: 2px;
    border-style: solid;
    width: fit-content;
    min-width: 3em;
}

#chat .sent {
    display: flex;
    justify-content: flex-end;
}

#chat .received {
    display: flex;
    justify-content: flex-start;
}

#chat .sent .message_box {
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    padding: 1em 0.5em 1em 1em;
}

#chat .received .message_box {
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    padding: 1em 1em 1em 0.5em;
}

#chat .received .name {
    font-size: 0.8em;
    color: gray;
    margin-bottom: 4px;
}